<!DOCTYPE html>
{% load static  %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static "css/movies.css" %}">
    <title>Document</title>
</head>
<body>
    <div class="container">
    <h1>Movies infermation</h1>
    {% if list_movies%}
    <table class="table">
        <thead>
            <th>rdate</th>
            <th>moviename</th>
            <th>hero</th>
            <th>heroin</th>
            <th>rating</th>
            <th>Action</th>
        </thead>
        {%for movie in list_movies%}
        <tr>
            <td>{{movie.rdate}}</td>
            <td>{{movie.moviename}}</td>
            <td>{{movie.hero}}</td>
            <td>{{movie.heroin}}</td>
            <td>{{movie.rating}}</td>
            <td><button><a href="/delete/{{movie.id}}/">Delete</a></button></td>
        </tr>
        {%endfor%}
    </table>
    {%else%}
    <p>No movie found</p>
    {%endif%}

    <button><a href="/deleteall">DeleteAll</a></button>
    <a href="/">Home</a>
</div>

</body>
</html>